.container{
	display : flex;
	width : 244px;
	height : 500px; 
	flex-direction : column;
	background-color : white;

	border: 1px #D3D3D3 solid;
	padding: 10px 20px; 
    border-radius: 4px;
}

.priceChris{
	padding-top:5px;
	color : #B12704;
	font-size: 17px;
	font-family: Lato;
}

.freeshipping{
	margin-top : 10px;
	font-size : 13px;
	line-height : 1.6;
	font-family: Lato;
}


.tooltip{
	position : relative;
	display : inline-block;
	color : #0066c0;
    cursor : pointer;
}

.tooltip .tooltiptext{
	visibility: hidden;
	width: 200px;
	background-color: white;
	color: black;
	z-index: 1;
	position: absolute;
	opacity: 0;
	transition:opacity 0.3s;
}

.tooltip:hover .tooltiptext{
	visibility: visible;
	opacity: 1;
}


/* .body{
    position: absolute;
    top:0;
	left:0;
	bottom:0;
	right:0;
	height:100%;
	width:100%; 
	border: 1px solid white;
} */